@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
/*font-family: 'PT Sans', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
}
/* 
section::after {
    content: "";
    background-image: url("src/img/grain.png");
} */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    /* width: 50px;
    height: 50px; */
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: grab;
    background-color: pink;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;
}

.toggle.active {
    position: fixed;
    right: 20px;
    background-color: green;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 10;
}
header ul li a {
    font-size: 1.5em;
    margin-left: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}


@media (max-width: 991px) {
    header {
        padding: 20px;
    }
    header .logo {
        max-width: 60px;
    }
    header ul {
        display: none;
    }

    section {
        padding: 20px 20px 100px;
    }

}

@media (max-height: 725px) {

    .thumb {
        display: none;
    }

    .sci {
        display: none;
    }
}

@media (min-width: 991px) {
    .toggle{ 
        display: none;
    }
}