@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
} 

.first-section {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.image-wrapper {
    position: absolute;
}

.past-projects {
    position: absolute;
    width: 400px;
    left: calc(50% - 400px);
    height: 530px;
    top: 150px;
    /*background: red;*/
    background-image: url(https://www.pngall.com/wp-content/uploads/5/Open-Box-PNG-Free-Download.png);
}

.sect_1_3, .sect_1_4 {
    width: 175px;
    height: 175px;
}

.sect_1_1, .sect_1_2 {
    width: 250px;
    height: 175px;
}

.sect_1_4 {
    background-color: white;
}

.past-bin {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 400px;
    left: 300px;
    font-size: 100px;
}

.speech-text {
    text-align: center;
}

.code-header {
    font-size: 40px;
    color: purple;
    font-family: 'Ubuntu Mono', monospace;
}

.description {
    font-size: 30px;  
}

.inner {
position: relative;
  
}
.outer {
  border-bottom: solid white 2px;
  overflow: hidden;
}

.inner {
		opacity: 0;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
	}
	.inner.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}

.choicesWrapper {
    display: flex;
    }
    
    /* Create three equal columns that sits next to each other */
.choicesWrapper div {
    flex: 33.33%;
    padding: 5px;
}

.choicesWrapper div img {
    width: 75%;
    transition: transform .2s;
}

.choicesWrapper div img:hover {
    transform: scale(1.5);
  }

.dareRoot h2 {
    text-align: center;
}