@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    overflow-x: hidden;
}

#wrapper {
    width:100vw;
    height:100vh;
    background: linear-gradient(to right, 
    #FF4242   50%, 
    #000000 50% );
    z-index: -1;
}

#hmbgr {
    position: fixed;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 48.3vw;
    top: 40px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden hidden;
    z-index: 9;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 9px 6.5px;
    transition: 0.4s;
    z-index: 9;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.ptSans { 
    font-family: 'PT Sans', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: whitesmoke;
}

#boldName {
    position: absolute;
    font-size: 13vw;
    top: 20vh;
    left: 22vw;
    z-index: 2;
}

#gameDevStrtImg {
    width: 20vw;
    position: absolute;
    left: 57vw;
    top: 37vh;
    z-index: 2;
}

.circles {
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    /* background-color: green; */
    position: absolute;
    z-index: 1;
}

#email {
    width: 35vw;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

#email label {
    font-size: 2vw;
    font-family: 'PT Sans', sans-serif;
}

#emailTitle {
    text-align: center;
    
}
