:root {
    --minimap-main-color: rgb(163, 163, 163);
    --minimap-border-color: #373737;
}


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Impact';
    background: rgb(24,24,24);
}

body {
    overflow-x: hidden;
}

footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

#titleTopText {
    position: static;
    font-size: 16vw;
    font-size: 125px;
    text-transform: uppercase;
    color: white;
    top: 25%;
    text-align: center;
}

#titleMidText {
    position: static;
    font-size: 16vw;
    font-size: 175px;
    text-transform: uppercase;
    color: rgb(252, 0, 0);
    top: 35%;
    background: linear-gradient(to left,
    violet,
    indigo,
    blue);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

#titleBotText {
    position: static;
    font-size: 16vw;
    font-size: 125px;
    text-transform: uppercase;
    color: rgb(211, 211, 211);
    top: 45%;
    text-align: center;
}

section {height:100vh;}

.animation {
    height: 100vh;
    background: rgb(24,24,24);
    position: relative;
    overflow: hidden;
}

.paper-plane {
    height: 100px;
    position: absolute;
    top: 50%;
    left: -10%;
}

.scrollIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
    width: 50px;
}

.quoteText {
    position: absolute;
    color: white;
    top: 375px;
    left: 50%;
    font-size: 30px;
}

.mindmap {
    position: relative;
    border-radius: 10%;
    background: #08921f;
    height: 275px;
    width:450px;
    border-style: none none none solid;
    border-color: var(--minimap-border-color);
}

.mindmap.a {
    top: 10px;
    left: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.mindmap.a.show {
    opacity: 1;
    transform: translateY(0px);
}