*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Impact';
    background: rgb(24,24,24);
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

#titleTopText {
    position: static;
    font-size: 16vw;
    font-size: 125px;
    text-transform: uppercase;
    color: white;
    top: 25%;
    text-align: center;
}

#titleMidText {
    position: static;
    font-size: 16vw;
    font-size: 175px;
    text-transform: uppercase;
    color: rgb(252, 0, 0);
    top: 35%;
    background: linear-gradient(to left,
    violet,
    indigo,
    blue);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

#titleBotText {
    position: static;
    font-size: 16vw;
    font-size: 125px;
    text-transform: uppercase;
    color: rgb(211, 211, 211);
    top: 45%;
    text-align: center;
}

section {height:100vh;}
